span.required {
	color: red;
}
.box-authentication h2 {
    font-size: 30px;
    font-weight: 300;
    margin: 5px 0 20px;
    letter-spacing: .3px;
}
a.btn-action.btn-default {
	color: #666;
}
a.btn-action:hover {
	background: #0088cc;
	color:white;
	border-color: #1f81ba;
}

.amount-group div.input-group {
	padding-left: 15px;
	padding-right: 15px;
}
.amount-group span.input-group-addon {
	padding: 0;
}
.amount-group span.input-group-addon input {
	display: none;
}
.amount-group span.input-group-addon label {
	margin: 0;
	cursor: pointer;
	padding: 6px 12px;
}
.amount-group span.input-group-addon.plus-label.active {
	background: #3c763d;
	border-color: #3c763d;
	color: white;
}
.amount-group span.input-group-addon.minus-label.active {
	background: red;
	border-color: red;
	color: white;
}
.dropdown.dropdown-user-status > a > label,
.dropdown.dropdown-withdraw-status > a > label {
	cursor: pointer;
}
.dropdown.dropdown-user-status ul,
.dropdown.dropdown-withdraw-status ul {
	padding: 10px 15px;
    margin: -10px 0 0;
    border-color: #f2f2f2;
}
.dropdown.dropdown-user-status ul li,
.dropdown.dropdown-withdraw-status ul li {
	padding: 3px 0;
}
.dropdown.dropdown-user-status ul li label,
.dropdown.dropdown-withdraw-status ul li label {
	cursor: pointer;
	margin: 0;
	transition: all 150ms;
}
.dropdown.dropdown-user-status ul li label:hover,
.dropdown.dropdown-withdraw-status ul li label:hover {
	font-size: 100%;
}
.dropdown.dropdown-user-status ul li input,
.dropdown.dropdown-withdraw-status ul li input {
	display: none;
}
.sidebar-menu li > a > .fa-angle-right {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
}
.sidebar-menu li.active > a > .fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sidebar-menu li.active>.treeview-menu {
    display: block;
}
.sidebar-menu .treeview-menu > li.item-status-order.active a{
	background: #3c8dbc;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-1.active a,
.label-1 {
	background: #1FDA9A;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-2.active a,
.label-2 {
	background: #f38630;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-3.active a,
.label-3 {
	background: #ffd700;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-4.active a,
.label-4 {
	background: #542733;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-5.active a,
.label-5 {
	background: #28abe3;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-6.active a,
.label-6 {
	background: #008bba;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-7.active a,
.label-7 {
	background: #0087cb;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-8.active a,
.label-8 {
	background: #260126;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-9.active a,
.label-9 {
	background: #e94c6f;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-10.active a,
.label-10 {
	background: #260126;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-11.active a,
.label-11 {
	background: #e94c6f;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-12.active a,
.label-12 {
	background: #260126;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-13.active a,
.label-13 {
	background: #ff432e;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-14.active a,
.label-14 {
	background: #3cb371;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-15.active a,
.label-15 {
	background: #5bb12f;
}
.sidebar-menu .treeview-menu > li.item-status-order.color-0.active a,
.label-0 {
	background: #c6d5cd;
}
.sidebar-menu > li > ul > li > ul > li i.fa {
	font-size: 80%;
} 
.product-container .td-stt {
	width: 3%;
	text-align: center;
	vertical-align: middle;
}
.product-container .td-stt span {
    padding: 0px 4px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 90%;
    background: #cc0000;
    color: white;
    margin: 0;
}
.product-container .td-image {
	width: 20%;
	padding-left: 0;
}
.product-container .td-quantity {
	width: 15%;
	text-align: center;
}
.product-container .td-price {
	width: 12%;
	text-align: center;
}
.product-container .td-total-price {
	width: 15%;
	text-align: center;
}
.product-container .td-cn-shipping-fee {
	width: 13%;
	text-align: center;
}
.product-container .td-purchase-codes {
	
}
.product-container .td-note {
	width: 15%;
}

.product-container .td-note textarea {
	resize: vertical;
}
.product-container .td-note > div {
    border: 1px solid #eaeaea;
    /* height: 100%; */
    min-height: 60px;
    padding: 2px 5px;
    word-break: break-word;
}
.product-container .td-note > div textarea {
	padding:0;
	border-color: transparent;
	box-shadow: none;
}
.product-container .td-action {
	width: 8%;
	vertical-align: middle;
	text-align: center;
}
.product-container .td-action a {
	color: #666;
}
.product-container .td-action a:hover {
	color: #cc0000;
}
.product-container .td-image .img-b {
	width: 30%;
	float: left;
	padding-right: 8px;
	padding-top: 5px;
}
.product-container .td-image .img-b img {
	width: 100%;
}
.product-container .td-image ul {
	width: 70%;
	float: right;
	margin: 0; padding: 0;

}
.product-container .td-image ul li {
	list-style: none;
}
.product-container .td-image ul li >div.item-view{
    overflow: hidden;
    word-break: break-word;
    height: 1.5em;
    text-overflow: ellipsis;
}
.table-product-items thead td {
	text-align: center;
	font-size: 12;
	font-weight: bold;
}
.table-product-items tfoot th {
	height: 40px;
}
.table-product-items tfoot th.sup-foot,
.table-product-items tfoot th.th-quantity,
.table-product-items tfoot th.th-total-price { 
	text-align: center;
	vertical-align: middle;
}
.table-product-items {
	margin-bottom: 0;
}
.order-express-info	h2.heading {
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 20px;
    color: #555;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px double #e5ffbf;
}
.order-express-info .form-group {
    display: table;
    width: 100%;
    margin-bottom: 15px;
    color: #5d5d5d;
}
.form-group.order-attr-box label.active {
    background: #83C322;
    color: white;
}
.form-group.order-attr-box label {
	width: 50%;
    margin: 0!important;
    height: 35px;
    line-height: 35px;
    color: #5d5d5d;
    background: #eaeaea;
    text-align: center;
    font-size: 16px;
    float: left;
    cursor: pointer;
    letter-spacing: .3px;
}
.form-group.order-attr-box input {
    display: none;
}
.underline-group {
	border-bottom: 1px solid #f2f2f2;
	font-size: 15px;
	margin-bottom: 10px;
    padding-bottom: 5px;
}
.underline-group > label:first-child {
	font-weight: bold;
	font-size: 14px;
}
.underline-group label.label-content {
	font-size: 14px;
	font-weight: normal;
}
.order-express-info .order-note textarea,
.order-express-info .order-address textarea{
    border-color: #eaeaea;
	background: transparent;
	resize: vertical;
}
.order-express-info .total_vnd {
	font-weight: normal;
}
.order-express-info .static-group {
	margin-bottom: 5px;
}
.order-express-info .static-group label.label-deposit {
	color: #83C322;
}
.order-express-info .static-group label.label-debt {
	color: #cc0000;
}
.product-container .btn-save-item {
	    padding: 1px 4px;
}
.order-express-info .order-editable {

}
.order-express-info .order-editable input {
    height: 30px;
    border-color: transparent;
}
.order-express-info .order-editable textarea {
}
.order-express-info .order-editable textarea:hover,
.order-express-info .order-editable textarea:focus {
	border-color: #83C322;
}

.order-express-info .order-editable input:hover,
.order-express-info .order-editable input:focus {
	border-bottom-color: #83C322;
}
.order-express-info .broken-options {
	clear: both;
	padding: 0 15px;
}
.order-express-info .broken-options input{
	height: inherit;
}
.order-express-info .broken-options label {
	margin-right: 10px;
}
.nav-tabs-custom > .nav-tabs button.btn,
.nav-tabs-custom > .nav-tabs a.btn {
	margin-right: 10px;
}
#order-status-package-modal .modal-body label.label,
#order-status-modal .modal-body label.label {
	margin-left: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	    min-width: 150px;
    display: inline-block;
}
#order-status-modal .modal-body input[type=submit] {
	width: 50%;
}
.panel-transportation ul.transport-code-show {
	margin: 0;
	padding: 0;
}
.panel-transportation ul.transport-code-show li {
	list-style: none;
}
.complain-detail .complain-content-box,
.complain-detail .complain-resolve-box {
	padding: 10px 0;
}
.complain-detail .complain-content-box > .content-box > textarea {
    padding: 10px;
    border: 1px solid #eaeaea;
    background: transparent;
    border-radius: 5px;
    resize: vertical;
}
.complain-detail .complain-resolve-box textarea {
	padding: 10px;
	border-color: #83C322;
	border-radius: 5px;
	resize: vertical;
}
.complain-detail .complain-image-box {
    padding: 20px 0px;
}
.complain-detail .product-box {
	clear: both;
	padding: 20px 0;
}
.complain-detail .product-box > label,
.complain-detail .complain-image-box > label {
	margin-bottom: 20px;
	display: block;
}
.complain-detail .complain-image-box img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
i.fa-active {
	color: #cc0000;
	margin-left: 5px;
	font-size: 13px;
}
a{color : #666;}

.distance-box {
	border: 1px solid #eaeaea;
    padding: 10px;
    width: 300px;
    text-align: left;
    background: #f5f5f5;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 999;
}
.distance-box input {
	    height: 30px;
	    margin-bottom: 5px;
}
.guid-box {
    position: absolute;
    top: 0;
    right: 10px;
    color: #666;
    cursor: pointer;
}
.guid-box:hover .guid-content {
	display: block;
	
}
.guid-box:hover {
	color: #cc0000;
}
.guid-box .guid-content {
	display: none;
    position: absolute;
    z-index: 99;
    background: white;
    padding: 10px;
    border: 1px solid #cc0000;
    color: #666;
    font-size: 12px;
    border-radius: 5px;
    width: 250px;
    right: 100%
}
.btn-package-status label {
	cursor: pointer;
}
.switchery {
	opacity: 1!important;
}
.order-express-info .warehouse-box .warehouse-label {
	font-weight: bold;
	font-size: 12;
	margin-right: 15px;
}
.order-express-info .warehouse-box label {
	margin-right: 10px;
	font-weight: normal;
}
.border-right {
	border-right: 1px solid #eaeaea;
}
.order-static-info .underline-group {
	padding-bottom: 0;
	margin-bottom: 5px;
}
.order-static-info .underline-group:last-child {
	border: none;
	}
#order-received-pay-modal .pay-type-box {
	padding: 1px 15px;
    background: #f5f5f5;
    margin: 0 0 10px;
}
#order-received-pay-modal .pay-type-box .form-group {
	margin: 0;
}
#order-received-pay-modal .pay-method-box {
    display: table;
    border: 1px solid #eaeaea;
    margin: 15px;
    padding: 10px 0 0;
}
.order-express-info .order-attr-box {
	margin-bottom: 0;
}
.order-express-info .post-link-box {
	margin-bottom: 15px;
	display: table;
	width: 100%;
}
.order-express-info .post-link-box a {
	width: 50%;
    display: block;
    float: left;
    line-height: 30px;
    border: 1px solid #eaeaea;
    padding: 0 20px;
    font-size: 13px;
    color: #cc0000;
    font-weight: bold;
    text-align: center;
}
.order-express-info .post-link-box a:hover {
	color: #5d5d5d;
}
table.big-table-active {
	margin-top: 10px;
}
table.big-table-active .detail-row > td {
	background: #eaeaea;
}
/* form add tranport at complain*/
.complain-detail .method-resolve-box > h3 {
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.complain-detail .method-resolve-box label {
    padding-bottom: 5px;
    line-height: 1.2em;
    font-weight: normal;
    margin: 5px 0;
    display: block;
}
.complain-detail .transport_type_input .r-item {
    display: inline-block;
    margin-right: 25px;
}
.complain-detail .resolves .choices label {
	font-weight: normal;
	margin-right: 20px;
	cursor: pointer;
}
.complain-detail .transport_type_input .r-item label {
    display: block;
    margin: 0;
    cursor: pointer;
}
.complain-detail .method-resolve-box input[type=text], .complain-detail .method-resolve-box input[type=number], .complain-detail .method-resolve-box input[type=email], .complain-detail .method-resolve-box input[type=tel], .complain-detail .method-resolve-box select, .complain-detail .method-resolve-box textarea {
    height: 34px;
}
.complain-detail .method-resolve-box input, .complain-detail .method-resolve-box select, .complain-detail .method-resolve-box textarea {
    border-radius: 0;
    border-color: #eaeaea;
    box-shadow: inherit;
    outline: 0 none;
}
.complain-detail .method-resolve-box .distance-box {
	right: 20px;
}

ul.lang-setting {
	margin: 0;
	padding: 0;
}
ul.lang-setting > li {
	list-style: none;
    margin-bottom: 5px;
    text-align: center;
}
ul.lang-setting > li > a {
	padding: 5px;
    background: #eaeaea;
    display: table-cell;
    border: 1px solid transparent;
    color: #444;
   	min-width: 120px;
}
ul.lang-setting > li.active > a {
	background: #9bcf4e;
}
ul.lang-setting > li > a:hover {
	border-color: #9bcf4e;
	background: #eaeaea;
}
.navbar-nav>li>a.message-label,
.navbar-nav>li>a.noti-label {
	font-size: 18px;
}
.navbar-nav li.nav-item-message #label-message-count,
.navbar-nav li.nav-item-noti #label-noti-count {
    position: absolute;
    top: 10px;
    right: 5px;
    margin: 0;
    padding: 0 3px;
    line-height: 1.1em;
    font-size: 14px;
	border-radius: 3px;
	background: red;
}
.navbar-nav li.nav-item-message #label-messgae-count:hover,
.navbar-nav li.nav-item-noti #label-noti-count:hover { 
	background: red;
}
.navbar-nav li.nav-item-message ul#message-load-box,
.navbar-nav li.nav-item-noti ul#noti-load-box {
	border: 1px solid #3c8dbc;
    margin-top: 1px;
    padding: 0;
    width: 352px;
    max-height: 500px;
    overflow: auto;
}
.navbar-nav li.nav-item-message ul#message-load-box > li,
.navbar-nav li.nav-item-noti ul#noti-load-box > li {
	border-bottom: 1px solid #eaeaea;
    padding: 0;
}
.navbar-nav li.nav-item-message ul#message-load-box > li > a > div.mes-count,
.navbar-nav li.nav-item-noti ul#noti-load-box > li > a > img {
	float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
}
.navbar-nav li.nav-item-message ul#message-load-box > li > a:hover,
.navbar-nav li.nav-item-noti ul#noti-load-box > li > a:hover {
	background: #f5f5f5;
}
.navbar-nav li.nav-item-message ul#message-load-box > li > a,
.navbar-nav li.nav-item-noti ul#noti-load-box > li > a {
	padding: 8px 10px;
    display: block;
    white-space: normal;
    width: 350px;
    color: #444;
    overflow: hidden;
}
.navbar-nav li.nav-item-message ul#message-load-box > li.default-view-all a {
	text-align: center;
	margin-bottom: -1px;
	background-color: #3c8dbc;
	color: white;
	font-weight: bold;
}
.navbar-nav li.nav-item-message ul#message-load-box > li > a >div> span,
.navbar-nav li.nav-item-noti ul#noti-load-box > li > a >div> span {
	display: block;
    font-size: 14px;
    line-height: 1.3em;
}
.navbar-nav li.nav-item-message ul#message-load-box > li > a >div> span.date,
.navbar-nav li.nav-item-noti ul#noti-load-box > li > a >div> span.date {
    text-align: right;
    font-size: 12px;
    color: #999;
    margin-top: 8px;
}
.navbar-nav li.nav-item-message ul#message-load-box > li.not_noti,
.navbar-nav li.nav-item-noti ul#noti-load-box > li.not_noti {
	padding: 10px;
}

.navbar-nav li.nav-item-message ul#message-load-box > li > a > div.mes-count {
	border-right: 1px solid #eaeaea;
    position: relative;
    text-align: center;
}
.navbar-nav li.nav-item-message ul#message-load-box > li > a > div.mes-count > i {
	font-size: 20px;
    margin: 5px 0 0 0;
}
.navbar-nav li.nav-item-message ul#message-load-box > li > a > div.mes-count > span {
	position: absolute;
    top: 0;
    right: 5px;
    background: red;
    border-radius: 3px;
    padding: 0 3px;
    color: white;
    line-height: 1.1em;
}

.navbar-nav li.nav-item-message ul#message-load-box > li > a >div>span.room-name {
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;
}
.navbar-nav li.nav-item-message ul#message-load-box > li > a >div>span.date {
	margin-top: 0;
}
/*
 * Scroll bar style
 */

.scroll-bar-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroll-bar-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scroll-bar-1::-webkit-scrollbar-thumb
{
	background-color: #555;
}
.transport-code-container > input {
	margin-bottom: 3px;
}
#colors-box >span,
#tags-box >span {
	margin-right: 10px;
}
button#add-color,
button#add-tag {
	border-radius: 0;
}
#colors-box {
	padding: 10px;
    border: 1px solid #d2d6de;
    margin: 10px 0;
}
#colors-box span {
	border: 1px solid #eaeaea;
    padding: 5px;
    border-radius: 5px;
}
#tags-box span i,
#colors-box span i {
	cursor: pointer;
}
#tags-box span i:hover,
#colors-box span i:hover {
	color: #cc0000;
}
#modal-order-detail .modal-body #edit-order {
	margin-bottom: 10px;
}
#modal-order-detail .modal-body table {
	margin-bottom: 0;
}
