/**
 * CSS for cart list
 */
.cart-content-box {
	background: url('../images/bgdot-top.png') top left repeat-x;
	padding: 15px 10px;
}
.cart-content-box .cart-action-bottom .support {
    display: inline-block;
    vertical-align: top;
    background: url(../images/icon-bgleft.png) 0 -600px no-repeat;
    padding: 5px 25px 0 55px;
    min-height: 45px;
    margin-left: 20px;
    color: #797979;
    height: 40px;
    text-align: left;
}
.cart-content-box .cart-action-bottom .support strong{
    display: block;
    color: #000;
}
.cart-content-box table.table-product-items thead tr td {
	background: #000;
    color: #fff;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.cart-content-box table.table-product-items td.td-stt {
	width: 5%;
}
.cart-content-box table.table-product-items td.td-image {
	width: 40%;
}
.cart-content-box table.table-product-items td.td-quantity {
	width: 15%;
}
.cart-content-box table.table-product-items td.td-price {
	width: 15%;
}
.cart-content-box table.table-product-items td.td-total-price {
	width: 15%;
}
.cart-content-box table.table-product-items td.td-action {
	width: 10%;
}

.cart-content-box table.table-product-items td.td-image .img-b {
	float: left;
	width: 25%;
}
.cart-content-box table.table-product-items td.td-image ul {
	width: 72%;
	float: right;
}
.cart-content-box table.table-product-items td.td-image img {
	max-width: 100%;
	max-height: 100%;
	float: left;
}
.cart-content-box table.table-product-items td.td-image a {
    font-weight: bold;
    font-size: 15px;
    color: #000;
}
.order-bill .buyer-info .total-info p > span > span {
    display: inline-block;
    width: auto;
}
.cart-coupon-apply .btn-primary {
    border-radius: 0;
    padding: 12px;
    font-family: "Roboto";
}